<!DOCTYPE HTML>
<html>

<head>
    <title>ベジエグリーン酵素スムージー、アサイー酵素スムージー</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/original.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/css/ie8.css" />
      <![endif]-->
      <!--AngularJs version 1.6.4 -->
    <script src="assets/js/angular/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <!--col-1-->
    <section id="hero">
        <br>
        <br>
        <div class="sp-title">
            <center>
                <img src="images/image1_sp_title_2.png" width="90%" />
            </center>
        </div>
    </section>
    <!--経営者の悩み 2nd-col-->
    <article class="second-col">
        <br>
        <br>
        <div class="container boxshadow">
            <div class="ctn" style="width:98%; margin: 0 auto;">
                <center>
                    <img class="sp" src="images/btn_sp.png" width="80%" style="padding:1.5em 0;/">
                </center>
                
                <div class="download-info">
                        <span class="sp-title">
                             <img  src="images/image2_header.png"/>
                        </span>
                        <img class="pc"  src="images/btn.png"/width="95%">
                    <p>
                        <br>
                        <span class="emphasis">従業員の健康管理</span>
                        <br> 経営者にとってとても重要な義務となっています。
                        <br> 健康でないと仕事のパフォーマンスも落ち、
                        <br> 会社全体の生産効率も下がります。
                        <br>調査によると<br class="pc">
                        <span class="emphasis">
                     約30%の人が朝食をとらない<br class="pc">
                    </span>と言われています。
                        <br> <br class="pc">
                    </p>
                </div>
                <div class="download-info-2">
                    <img class="download-info-2-sp" src="images/image3_2.png" style="float:left;">
                    <div class="right">
                        <p>
                            <br>
                            <span class="emphasis">
                        朝食をとらない人は<br>
                        野菜の摂取量も少ない。<br>
                        </span>  朝食は、
                            <br> 脳と体を目覚めさせるためには
                            <br> 必要不可欠なもの。
                            <br>
                            <span class="emphasis">
                        腸の活動を活発</span>に
                            <br> してくれるので便通もよくなります!!
                            <br>
                        </p>
                    </div>
                </div>
                <div class="download-info-3">
                    <p>
                        従業員の健康管理
                        <br> 腸は第二の脳とも
                        <br> 呼ばれる体の大切な器官。
                        <br>
                        <span class="emphasis">
                     忙しい朝でも<br>
                     ベジエを飲んで、<br>
                     健康な体を手に入れよう！！<br>
                     </span>
                        <br>
                    </p>
                </div>
                <br>
                <br>
            </div>
        </div>
        </div>
    </article>
    <!--女性従業員の信頼を勝ち得る 3rd-col-->
    <article class="three-col">
        <br>
        <br>
        <br>
        <center><img src="images/image3_bg_cnt.png" width="70%">
        </center>
        <div class="container"></div>
    </article>
    <!--sp-->
    <article class="three-col-sp">
        <div class="container">
            <h1 class="line_btm"><span class="red sp-big ">経営者の方必見!!<br>
               </span><small>オフィスベジエで<br>社員の朝ごはんを充実させましょう！</small>
            </h1>
            <br>
            <img src="images/image3_bg_sp.jpg" width="100%">
            <div class="disable">
                <br>
                <p class="ft120">
                    朝ごはんを抜く従業員が沢山いることを経営者のみなさんは知っていますか？
                    <br>
                    <br> 朝食は抜いても大丈夫！そんなことはありません。健康だけでなく美容にも良いベジエのグリーン酵素スムージー、アサイー酵素スムージー。
                    <br><br>生きたままの酵素が入ったベジエには、 腸内環境を整える作用があります。腸は第二の脳とも言われるとても大切な器官。
                    <br>
                    <br> 腸から体を整えて従業員の健康 仕事のパフォーマンスを向上させましょう。
                    <br>
                </p>
            </div>
        </div>
    </article>
    <!-- ROOP1-->
    <!-- Banner 4th-colー-->
    <article class="four-col">
        <div class="container"></div>
    </article>
    <!--SPー-->
    <article class="four-col-sp"></article>
    <!-- 募集要項 -->
    <article class="box style3 chalkboard">
        <div class="container">
            <header class="title">
                <h2>募集要項</h2>
            </header>
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>モニター規約・本規約</h2>
                </header>
                <ul class="default">
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>会社の経営者様。</li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>1ヶ月間、ベジエグリーン酵素スムージー、アサイー酵素スムージーをお試しいただき、 SNSアカウントでの拡散、感想アンケートにお答えいただける方。
                    </li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>SNSアカウントをお持ちの方(Facebook、Twitter、Instagram)</li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>美容、健康、食事等に興味のある方</li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>感想アンケートの内容や、SNS投稿の内容を当社のプロモーション等に 利用させていただくことをご了承いただける方。
                    </li>
                </ul>
            </section>
            <!-- 商品-->
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>商品</h2>
                </header>
                <ul class="default">
                    <li class="disable">ベジエグリーン酵素スムージー、アサイー酵素スムージーを合わせて 30袋</li>
                    
                </ul>
            </section>
            <!-- 抽選発表-->
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>抽選発表</h2>
                </header>
                <ul class="default">
                    <li class="disable">
                        キャンペーン期間中応募してくださった方を対象に、 厳正なる抽選を行います。
                        <br> 当選された方には、ご応募時のご連絡先宛に 11月上旬にご連絡をいたします。
                        <br>
                    </li>
                </ul>
            </section>
            <!-- 注意事項-->
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>注意事項</h2>
                </header>
                <ul class="default">
                    <li class="disable">
                        応募者の中から抽選を行い、当選された方のみ本キャンペーンにご参加 いただきます。
                        <br>
                        <br>なお、当選のご連絡は、当選者に対してメールまたは電話にて ご連絡いたします。選考からもれた方へのご連絡はいたしません。
                        <br>
                        <br>
                    </li>
                    <li class="disable">
                        また、抽選過程に関するお問い合わせ、当落についてのお問い合わせには 対応いたしかねますので、あらかじめご了承ください。
                        <br> 当社は、参加者が以下に該当する場合、 キャンペーンへの参加を取り消すことができるものとします。
                        <br>
                        <br>
                    </li>
                    <li class="disable">
                        本規約第2項本キャンペーン開催要領に 定める応募条件を満たさない場合
                        <br> または応募後に満たさなくなった場合、
                        <br> 本キャンペーンについて、 複数のアカウントを作成するなどの不正な 行為を行った場合本規約に定められた 規約違反に準じる行為が発見された場合
                        <br>
                    </li>
                </ul>
        </div>
        <div style="height:310px;">
            <img class="chalkboard_img" src="images/image4.png" />
        </div>
        </section>
        </div>
    </article>
    <div class="pc-mg-100"></div>
    <div class="cv_title">
        応募の詳細はこちら！
    </div>
    <div class="pc-mg-100"></div>
    <!-- Contact Form  -->
    <!-- Abinash section-->
    <article class="container box style3" ng-controller="FormController">
        <form name="myForm" method="post" ng-submit="sendEmail()">
            <div class="row" style="margin :0 auto;">
                <div class="borderline">
                    <label>会社名</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="companyname" placeholder="会社名" ng-model="companyname" required />
                        <span style="color:red" ng-show="submitted && myForm.companyname.$error.required">会社名を入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>会社住所</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="companyaddress" placeholder="会社住所" ng-model="companyaddress" required />
                        <span style="color:red" ng-show="submitted && myForm.companyaddress.$error.required">会社住所を入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>名前</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="name" placeholder="名前" ng-model="name" required />
                        <span style="color:red" ng-show="submitted && myForm.name.$error.required">名前を入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>メールアドレス</label>
                    <div class="12u 12u$(mobile)">
                        <input type="email" class="text" name="mailaddress" placeholder="メールアドレス" ng-model="mailaddress" required />
                        <span style="color:red" ng-show="submitted && myForm.mailaddress.$error.required">メールアドレスを入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>電話番号</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="phonenumber" placeholder="電話番号" ng-model="phonenumber" pattern="[0-9]*" title="電話番号" required />
                        <span style="color:red" ng-show="submitted && myForm.phonenumber.$error.required">電話番号を入力してください。</span>
                    </div>
                </div>                
                <div class="borderline">
                    <label>SNSアカウント</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="snsaccount" placeholder="SNSアカウント" ng-model="snsaccount" required />
                        <span style="color:red" ng-show="submitted && myForm.snsaccount.$error.required">SNSアカウントを入力してください。</span>
                    </div>
                </div>
                <label>応募動機</label>
                <div class="12u$ 12u$(mobile)">
                    <textarea name="message" placeholder="応募動機" ng-model="message" required></textarea>
                    <span style="color:red" ng-show="submitted && myForm.message.$error.required">応募動機を入力してください。</span>
                </div>
                <div class="12u$ 12u$(mobile)">
                    <ul>
                        <input style="width: 100%;" type="submit" value="応募する" ng-click="submitted=true" />
                    </ul>
                </div>
        </form>
    </article>
    <div class="pc-mg-100"></div>
    <div class="cv_title">
        規約事項・注意事項
    </div>
    <div class="pc-mg-100"></div>
    <article class="container box style3">
        <section>
            <header class="rules">
                <h2><i class="fa fa-circle-o" aria-hidden="true"></i>モニター規約・本規約</h2>
            </header>
            <ul class="default">
                <li class="disable">
                    この応募規約は、株式会社KIYORA（以下、「当社」という）が
                    <br> 提供するモニターキャンペーン（以下、「本キャンペーン」という）に関する
                    <br> 条件を規定することを目的とします。
                    <br> 本キャンペーンを利用（応募、参加を含む）するためには、
                    <br> 本規約に同意することが条件となります。
                    <br> 本キャンペーンに応募した時点で、本規約の内容に同意したものとみなされます。
                    <br>
                </li>
            </ul>
        </section>
        <section>
            <header class="rules">
                <h2><i class="fa fa-circle-o" aria-hidden="true"></i>本キャンペーン開催要領</h2>
            </header>
            <ul class="default">
                <li class="disable">
                    参加者募集期間:2017年10月13日(金)〜10/27(金)
                    <br> 本キャンペーン概要:ベジエ(グリーン酵素スムージー、アサイー酵素スムージー)のご試飲
                    <br> 参加者:参加者は以下の事項に該当する方に限定させていただきますので、
                    <br> あらかじめご了承ください。
                    <br>
                </li>
            </ul>
        </section>
    </article>
    <!-- ROOP1 Close -->
    <!--ベジえのこだわり 5th-col-->
    <br>
    <br>
    <br>
    <br>
    <article class="five-col">
    <div class="container"></div>
    </article>
    <article class="five-col-sp">
        <div class="container">
            <center>
                <img src="images/image5_header.png" width="90%">
            </center>
            <br>
            <br>
            <ul class="default">
                <center>
                    <img class="boxshadow" src="images/image5_header_sec1.png" width="100%">
                </center>
                <li class="disable">
                        <span class="red">野菜、果物、野草、穀物、海藻など、
                            180種類の野菜果物発酵エキスをフリーズドライ加工し、贅沢にたっぷり配合しています。</span> 
                        現代人が不足しがちなビタミン1日分※を1杯（20g）で補えます。
                        さらにミネラルもたっぷり。
                        <small>※1日のビタミン量は栄養素等表示基準より算出しております。</small>
                </li>
                <br>
                <br>
                <center>
                    <img class="boxshadow" src="images/image5_header_sec2.png" width="100%">
                </center>
                <li class="disable">
                        「痩せたい」「キレイになりたい」は必須項目。
                        <span class="red"> インナービューティーを考えてプラセンタを2,000mg*配合。
                        ビューティーアップをサポートします。   </span> 
                        ぷるぷるとハリと潤いのある毎日に欠かせないコラーゲンも
                        200mg*配合しました。ダイエットも美容もこれ1杯でOK。   
                </li>
                <br>
                <br>
                <center>
                    <img class="boxshadow" src="images/image5_header_sec3.png" width="100%">
                </center>
                <li class="disable">
                        シェイカーなしでも溶けるように粉のつぶを大きめにしています。
                        空気を取り込みやすくなるのでダマにもなりにくいのです。
                        <span class="red">
                        冷たい水でもサッと溶けるので、混ぜるだけでＯＫ。
                        忙しい朝でも、10秒なら続けられます。</span>
                </li>
                <h1 class="line_btm">お客様からのお声</h1>
                <!--voice1-->
                <li class="disable" style="background-color:#faf7f7; padding:3em 2em ;">
                    これは！美味しいですね～。 ずっと他社さんの粉状スムージーを定期配送してもらっていたのですが、 こちらが良くなって解約してしまいました（笑）。
                    <br>
                    <br> 水、炭酸割りもしてみましたが、やっぱりオーソドックスに 牛乳割りが最高。アップルマンゴーの味、飲みやすいです。
                    <br>
                    <br> おやつにチョコレートやら焼き菓子やらを食べるのをやめて こちらに切り替えていますので、少しですがダイエット効果がありました。 食物繊維豊富だからか、お通じの調子も良くて嬉しいです。
                    <br>
                    <br> 今後はランチをこちらに切り替えて（今すごい食べちゃってるので・・）、 置き換えダイエットにも挑戦してみたいと思っています。
                    <br>
                    <br> 今まで飲んでいたスムージーよりもお値段がお手頃で、 ネットや近くの薬局などでも 入手しやすいのも良いと思いました。 今後はこちらをリピートしたいと思います～。
                    <br>(34歳 女性）
                </li>
                <!--voice2-->
                <li class="disable" style="background-color:#faf7f7; padding:3em 2em ;">
                    平日は1日忙しくてあまり健康に気を付けられないので、 手軽に野菜とか摂りたいと思って買ってみました！
                    <br>
                    <br> 牛乳で割って飲んでるからか飲みやすくて 朝ごはんとして愛用してます♪ 2週間続けているんですけど、
                    <br>
                    <br> 最近お通じが良くなったのはこの子のお陰かな？
                    <br>(23歳 女性）
                </li>
                <!--voice3-->
                <li class="disable" style="background-color:#faf7f7; padding:3em 2em ;">
                    お肌にも嬉しいインナー美容成分1杯につきプラセンタ2,000mg、 コラーゲン200mgが配合。 健康・美容に注目度の高い成分が綺麗をサポート
                    <br>
                    <br> シェイカー無しで水にさっと溶ける特殊パウダー製法 酵素だけでなく美容成分が豊富なので肌にも良いです。 アップルジュースのような味で美味しいです。
                    <br>
                    <br> 溶け残りも無く　特殊パウダー製法なので 飲んだ後のグラスもお水ですすげば簡単に洗えます。
                    <br>
                    <br> 置き換えするのにも良いですが日常の野菜不足を補え ビタミン、ミネラル、食物繊維コラーゲン、プラセンタまで 取れるので2,036円(税込)で10日分 簡単に飲めるのとサプリも不要だと考えるとお得です。
                    <br>(41歳 女性）
                </li>
            </ul>
        </div>
    </article>
    <!-- 無料トライアル 6th-col -->
    <article class="six-col">
        <br>
        <br>
        <br>
        <center>
            <div class="container"></div>
        </center>
    </article>
    <!--sp-->
    <article class="six-col-sp">
        <div class="container">
            <h1 class="line_btm">オフィスベジエを導入しませんか？</h1>
            <br>
            <h1>
      今ならベジエの<br><span class="red sp-big">無料トライアル企業様を募集中！!</span>
      </h1>
            <br>
            <div class="disable">
                <p>
                    オフィスベジエが職場を変える？ 朝ごはんを抜く従業員がたくさんいることを 経営者のみなさんは,知っていますか？ 朝食は抜いても大丈夫。。。そんなことはありません！
                </p>
                <br>
                <br>
            </div>
            <h1 class="line_btm"><span class="red">オフィスベジエ</span>を導入するメリット!</h1>
            <br>
            <br>
            <ul class="default">
                <center>
                    <img src="images/col-1-img.png" width="100%">
                </center>
                <li class="disable">
                    オフィスの従業員の方が 各自で利用したい時に、いつでも 好きなだけ飲めるオフィスサービス。 仕事がひと段落し、リフレッシュしたい時や、 残業時などの小腹がすいた時に ご利用いただくことで、 仕事の効率アップにも繋がります!
                    </span>
                </li>
                <!--2-->
                <br>
                <br>
                <center>
                    <img src="images/col-2-img.png" width="100%">
                </center>
                <li class="disable">
                    オフィスベジエの棚に 様々な部署、年代、性別の方が 集まることで、 社内でもメールで済ませがちな コミュニケーションが活発になります!
                </li>
                <!--3-->
                <br>
                <br>
                <center>
                    <img src="images/col-3-img.png" width="100%">
                </center>
                <li class="disable">
                    健康だけでなく美容にも良い ベジエのグリーン酵素スムージー、アサイー酵素スムージー。 しっかりと栄養バランスの 取れた朝食を取ることで 仕事の効率アップにも繋がります。
                    </span>
                </li>
            </ul>
        </div>
    </article>
    <!-- ROOP2-->
    <!--Bannerー-->
    <article class="four-col">
        <div class="container"></div>
    </article>
    <!--SPー-->
    <article class="four-col-sp"></article>
    <!-- 募集要項 -->
    <article class="box style3 chalkboard">
        <div class="container">
            <header class="title">
                <h2>募集要項</h2>
            </header>
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>モニター規約・本規約</h2>
                </header>
                <ul class="default">
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>会社の経営者様。</li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>1ヶ月間、ベジエグリーン酵素スムージー、、アサイー酵素スムージーをお試しいただき、 SNSアカウントでの拡散、感想アンケートにお答えいただける方。
                    </li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>SNSアカウントをお持ちの方(Facebook、Twitter、Instagram)</li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>美容、健康、食事等に興味のある方</li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>感想アンケートの内容や、SNS投稿の内容を当社のプロモーション等に 利用させていただくことをご了承いただける方。
                    </li>
                </ul>
            </section>
            <!-- 商品-->
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>商品</h2>
                </header>
                <ul class="default">
                    <li class="disable">ベジエグリーン酵素スムージー、アサイー酵素スムージーを合わせて 30袋</li>
                </ul>
            </section>
            <!-- 抽選発表-->
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>抽選発表</h2>
                </header>
                <ul class="default">
                    <li class="disable">
                        キャンペーン期間中応募してくださった方を対象に、 厳正なる抽選を行います。
                        <br> 当選された方には、ご応募時のご連絡先宛に 11月上旬にご連絡をいたします。
                        <br>
                    </li>
                </ul>
            </section>
            <!-- 注意事項-->
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>注意事項</h2>
                </header>
                <ul class="default">
                    <li class="disable">
                        応募者の中から抽選を行い、当選された方のみ本キャンペーンにご参加 いただきます。
                        <br>
                        <br>なお、当選のご連絡は、当選者に対してメールまたは電話にて ご連絡いたします。選考からもれた方へのご連絡はいたしません。
                        <br>
                        <br>
                    </li>
                    <li class="disable">
                        また、抽選過程に関するお問い合わせ、当落についてのお問い合わせには 対応いたしかねますので、あらかじめご了承ください。
                        <br> 当社は、参加者が以下に該当する場合、 キャンペーンへの参加を取り消すことができるものとします。
                        <br>
                        <br>
                    </li>
                    <li class="disable">
                        本規約第2項本キャンペーン開催要領に 定める応募条件を満たさない場合。
                        <br> または応募後に満たさなくなった場合、
                        <br> 本キャンペーンについて、 複数のアカウントを作成するなどの不正な 行為を行った場合本規約に定められた 規約違反に準じる行為が発見された場合。
                        <br>
                    </li>
                </ul>
        </div>
        <div style="height:310px;">
            <img class="chalkboard_img" src="images/image4.png" />
        </div>
        </section>
        </div>
    </article>
    <div class="pc-mg-100"></div>
    <div class="cv_title">
        応募の詳細はこちら！
    </div>
    <div class="pc-mg-100"></div>
    <!-- Contact Form  -->
    <!-- Abinash section-->
    <article class="container box style3" ng-controller="FormController">
        <form name="myForm" method="post" ng-submit="sendEmail()">
            <div class="row" style="margin :0 auto;">
                <div class="borderline">
                    <label>会社名</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="companyname" placeholder="会社名" ng-model="companyname" required />
                        <span style="color:red" ng-show="submitted && myForm.companyname.$error.required">会社名を入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>会社住所</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="companyaddress" placeholder="会社住所" ng-model="companyaddress" required />
                        <span style="color:red" ng-show="submitted && myForm.companyaddress.$error.required">会社住所を入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>名前</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="name" placeholder="名前" ng-model="name" required />
                        <span style="color:red" ng-show="submitted && myForm.name.$error.required">名前を入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>メールアドレス</label>
                    <div class="12u 12u$(mobile)">
                        <input type="email" class="text" name="mailaddress" placeholder="メールアドレス" ng-model="mailaddress" required />
                        <span style="color:red" ng-show="submitted && myForm.mailaddress.$error.required">メールアドレスを入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>電話番号</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="phonenumber" placeholder="電話番号" ng-model="phonenumber" pattern="[0-9]*" title="電話番号" required />
                        <span style="color:red" ng-show="submitted && myForm.phonenumber.$error.required">電話番号を入力してください。</span>
                    </div>
                </div>                 
                <div class="borderline">
                    <label>SNSアカウント</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="snsaccount" placeholder="SNSアカウント" ng-model="snsaccount" required />
                        <span style="color:red" ng-show="submitted && myForm.snsaccount.$error.required">SNSアカウントを入力してください。</span>
                    </div>
                </div>
                <label>応募動機</label>
                <div class="12u$ 12u$(mobile)">
                    <textarea name="message" placeholder="応募動機" ng-model="message" required></textarea>
                    <span style="color:red" ng-show="submitted && myForm.message.$error.required">応募動機を入力してください。</span>
                </div>
                <div class="12u$ 12u$(mobile)">
                    <ul>
                        <input style="width: 100%;" type="submit" value="応募する" ng-click="submitted=true" />
                    </ul>
                </div>
        </form>
    </article>
    <!-- Abinash section close-->
    <div class="pc-mg-100"></div>
    <div class="cv_title">
        規約事項・注意事項
    </div>
    <div class="pc-mg-100"></div>
    <article class="container box style3">
        <section>
            <header class="rules">
                <h2><i class="fa fa-circle-o" aria-hidden="true"></i>モニター規約・本規約</h2>
            </header>
            <ul class="default">
                <li class="disable">
                    この応募規約は、株式会社KIYORA（以下、「当社」という）が
                    <br> 提供するモニターキャンペーン（以下、「本キャンペーン」という）に関する
                    <br> 条件を規定することを目的とします。
                    <br> 本キャンペーンを利用（応募、参加を含む）するためには、
                    <br> 本規約に同意することが条件となります。
                    <br> 本キャンペーンに応募した時点で、本規約の内容に同意したものとみなされます。
                    <br>
                </li>
            </ul>
        </section>
        <section>
            <header class="rules">
                <h2><i class="fa fa-circle-o" aria-hidden="true"></i>本キャンペーン開催要領</h2>
            </header>
            <ul class="default">
                <li class="disable">
                    参加者募集期間:2017年10月13日(金)〜10/27(金)
                    <br> 本キャンペーン概要:ベジエ(グリーン酵素スムージー、アサイー酵素スムージー)のご試飲
                    <br> 参加者:参加者は以下の事項に該当する方に限定させていただきますので、
                    <br> あらかじめご了承ください。
                    <br>
                </li>
            </ul>
        </section>
    </article>
    <!-- ROOP2 Close-->
    <!--従業員のための朝ごはん 7th-col-->
    <article class="seven-col">
        <br>
        <br>
        <br>
        <center>
            <div class="container"></div>
        </center>
    </article>
    <!--sp-->
    <article class="seven-col-sp">
        <div class="container">
            <h1 class="line_btm"><span class="red sp-big ">従業員のための朝ごはん<br>
      </span><small>オフィスで朝活！</small>
      </h1>
            <br>
            <img class- "boxshadow" src="images/image7_sec1.png" width="100%">
            <div class="disable">
                <br>
                <p class="ft120">
                    日本人の1日の摂取野菜の種類の平均は3〜4種類。
                    <br>
                    <br>
                    <span class="red">「あ！今日は2種類の野菜しか撮っていなかった！」
      そんな時もありませんか？</span>
                    <br>
                    <br> 野菜を満遍なく摂取するのは, はなかなか難しいもの。 そんな時でもベジエは朝に2杯の粉末で,
                    <br>
                    <span class="red">
      180種類もの野菜・果物・発酵エキス
      が摂取できる、「美人フード」なんです。
      </span>
                    <br>
                    <br> 忙しい朝でもベジエを2杯、 お水や牛乳に入れてシェイクするだけ。
                    <br>
                    <br> ベジエは1杯あたりコストパフォーマンスにも
                    <span class="red">
      優れた手軽に取れる「朝食」です。<br>
      </span>
                </p>
            </div>
        </div>
    </article>
    <!-- ROOP3-->
    <!--Bannerー-->
    <article class="four-col">
        <div class="container"></div>
    </article>
    <!--SPー-->
    <article class="four-col-sp"></article>
    <!-- 募集要項 -->
    <article class="box style3 chalkboard">
        <div class="container">
            <header class="title">
                <h2>募集要項</h2>
            </header>
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>モニター規約・本規約</h2>
                </header>
                <ul class="default">
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>会社の経営者様。</li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>1ヶ月間、ベジエグリーン酵素スムージーをお試しいただき、 SNSアカウントでの拡散、感想アンケートにお答えいただける方。
                    </li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>SNSアカウントをお持ちの方(Facebook、Twitter、Instagram)</li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>美容、健康、食事等に興味のある方</li>
                    <li class="disable"> <i class="fa fa-check fa-lg" aria-hidden="true"></i>感想アンケートの内容や、SNS投稿の内容を当社のプロモーション等に 利用させていただくことをご了承いただける方。
                    </li>
                </ul>
            </section>
            <!-- 商品-->
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>商品</h2>
                </header>
                <ul class="default">
                    <li class="disable">ベジエグリーン酵素スムージー、アサイー酵素スムージーを合わせて 30袋</li>
                </ul>
            </section>
            <!-- 抽選発表-->
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>抽選発表</h2>
                </header>
                <ul class="default">
                    <li class="disable">
                        キャンペーン期間中応募してくださった方を対象に、 厳正なる抽選を行います。
                        <br> 当選された方には、ご応募時のご連絡先宛に 11月上旬にご連絡をいたします。
                        <br>
                    </li>
                </ul>
            </section>
            <!-- 注意事項-->
            <section class="apply-list">
                <header class="rules">
                    <h2><i class="fa fa-circle-o" aria-hidden="true"></i>注意事項</h2>
                </header>
                <ul class="default">
                    <li class="disable">
                        応募者の中から抽選を行い、当選された方のみ本キャンペーンにご参加 いただきます。
                        <br>
                        <br>なお、当選のご連絡は、当選者に対してメールまたは電話にて ご連絡いたします。選考からもれた方へのご連絡はいたしません。
                        <br>
                        <br>
                    </li>
                    <li class="disable">
                        また、抽選過程に関するお問い合わせ、当落についてのお問い合わせには 対応いたしかねますので、あらかじめご了承ください。
                        <br> 当社は、参加者が以下に該当する場合、 キャンペーンへの参加を取り消すことができるものとします。
                        <br>
                        <br>
                    </li>
                    <li class="disable">
                        本規約第2項本キャンペーン開催要領に 定める応募条件を満たさない場合
                        <br> または応募後に満たさなくなった場合、
                        <br> 本キャンペーンについて、 複数のアカウントを作成するなどの不正な 行為を行った場合本規約に定められた 規約違反に準じる行為が発見された場合
                        <br>
                    </li>
                </ul>
        </div>
        <div style="height:310px;">
            <img class="chalkboard_img" src="images/image4.png" />
        </div>
        </section>
        </div>
    </article>
    <div class="pc-mg-100"></div>
    <div class="cv_title">
        応募の詳細はこちら！
    </div>
    <div class="pc-mg-100"></div>
    <!-- Contact Form  -->
    <!-- Abinash section-->
    <article class="container box style3" ng-controller="FormController">
        <form name="myForm" method="post" ng-submit="sendEmail()">
            <div class="row" style="margin :0 auto;">
                <div class="borderline">
                    <label>会社名</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="companyname" placeholder="会社名" ng-model="companyname" required />
                        <span style="color:red" ng-show="submitted && myForm.companyname.$error.required">会社名を入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>会社住所</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="companyaddress" placeholder="会社住所" ng-model="companyaddress" required />
                        <span style="color:red" ng-show="submitted && myForm.companyaddress.$error.required">会社住所を入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>名前</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="name" placeholder="名前" ng-model="name" required />
                        <span style="color:red" ng-show="submitted && myForm.name.$error.required">名前を入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>メールアドレス</label>
                    <div class="12u 12u$(mobile)">
                        <input type="email" class="text" name="mailaddress" placeholder="メールアドレス" ng-model="mailaddress" required />
                        <span style="color:red" ng-show="submitted && myForm.mailaddress.$error.required">メールアドレスを入力してください。</span>
                    </div>
                </div>
                <div class="borderline">
                    <label>電話番号</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="phonenumber" placeholder="電話番号" ng-model="phonenumber" pattern="[0-9]*" title="電話番号" required />
                        <span style="color:red" ng-show="submitted && myForm.phonenumber.$error.required">電話番号を入力してください。</span>
                    </div>
                </div>                 
                <div class="borderline">
                    <label>SNSアカウント</label>
                    <div class="12u 12u$(mobile)">
                        <input type="text" class="text" name="snsaccount" placeholder="SNSアカウント" ng-model="snsaccount" required />
                        <span style="color:red" ng-show="submitted && myForm.snsaccount.$error.required">SNSアカウントを入力してください。</span>
                    </div>
                </div>
                <label>応募動機</label>
                <div class="12u$ 12u$(mobile)">
                    <textarea name="message" placeholder="応募動機" ng-model="message" required></textarea>
                    <span style="color:red" ng-show="submitted && myForm.message.$error.required">応募動機を入力してください。</span>
                </div>
                <div class="12u$ 12u$(mobile)">
                    <ul>
                        <input style="width: 100%;" type="submit" value="応募する" ng-click="submitted=true" />
                    </ul>
                </div>
        </form>
    </article>
    <!-- Abinash section Close-->
    <div class="pc-mg-100"></div>
    <div class="cv_title">
        規約事項・注意事項
    </div>
    <div class="pc-mg-100"></div>
    <article class="container box style3">
        <section>
            <header class="rules">
                <h2><i class="fa fa-circle-o" aria-hidden="true"></i>モニター規約・本規約</h2>
            </header>
            <ul class="default">
                <li class="disable">
                    この応募規約は、株式会社KIYORA（以下、「当社」という）が
                    <br> 提供するモニターキャンペーン（以下、「本キャンペーン」という）に関する
                    <br> 条件を規定することを目的とします。
                    <br> 本キャンペーンを利用（応募、参加を含む）するためには、
                    <br> 本規約に同意することが条件となります。
                    <br> 本キャンペーンに応募した時点で、本規約の内容に同意したものとみなされます。
                    <br>
                </li>
            </ul>
        </section>
        <section>
            <header class="rules">
                <h2><i class="fa fa-circle-o" aria-hidden="true"></i>本キャンペーン開催要領</h2>
            </header>
            <ul class="default">
                <li class="disable">
                    参加者募集期間:2017年10月13日(金)〜10/27(金)
                    <br> 本キャンペーン概要:ベジエ(グリーン酵素スムージー、アサイー酵素スムージー)のご試飲
                    <br> 参加者:参加者は以下の事項に該当する方に限定させていただきますので、
                    <br> あらかじめご了承ください。
                    <br>
                </li>
            </ul>
        </section>
    </article>
    <!-- ROOP3 close-->
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"> </script>
   <!-- <script src="assets/js/main.js"></script> -->
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/angular/controllers.js"></script>
</body>

</html>
